$color-black-0: #0a0a0a;
$color-black-1: #323232;
$color-black-2: #333333;
$color-black-3: #000000;
$color-black-4: #222222;

$color-white-0: #fff;

$color-gray-0: #7e7e7e;
$color-gray-1: #a9a8a8;
$color-gray-2: #434343;

$color-gold: #d6b161;
